<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/index.css"/>
	<script type="text/javascript" src="lib/js/jquery-2.1.4.js"></script>
	<meta charset="UTF-8">
	<title>With my baby - Error</title>
</head>
<body>
<h1>Error</h1>
<p><%= errorMessage %></p>
</body>
</html>