<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/index.css"/>
	<script type="text/javascript" src="lib/js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<meta charset="UTF-8">
	<title>With my baby - Admin Panel</title>
</head>
<body>
<a href="/logout">Logout</a>
<a href="/users">Unconfirmed users</a>
<p>Logged in as <%= userName %></p>
</body>
</html>