
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="lib/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <title>With my baby - Login</title>
  </head>
  <body>
  <form method="post" action="/login">
    <label for="username">Username</label>
    <input name="username" type="text"/>
    <label for="password">Password</label>
    <input name="password" type="password"/>
    <button type="submit">Login</button>
  </form>
  <% if(typeof message != 'undefined'){ %>
    <p><%= message %></p>
  <%}%>
  </body>
</html>
