<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/index.css"/>
	<script type="text/javascript" src="lib/js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/users.js"></script>
	<title>With my baby - Users</title>
</head>
<body>
<a href="/">Home</a>
<h2>Unconfirmed users</h2>
<ul>
	<%for(var i=0; i<users.length; i++) {%>
	<li>
		<%= '[' + users[i].type + ']' %>
		<%= users[i].get('firstname') %>
		<%= users[i].get('lastname') + ', ' %>
		<%= users[i].get('DOB') + ', ' %>
		<%= users[i].get('city') %>
		<button class="confirm-user" data-type=<%= users[i].type %> data-id=<%= users[i].id %>>Confirm registration</button></li>
	<% } %>
</ul>
</body>
</html>
